<header>
<div class="logo">
<img src="assets/images/dog_cat.png"/>
</div>

<div class="acountbox">
<p> Logged in as: <a href="#account">Pieter</a></p>
<a class="button_big" href="#logout">Log Out</a>
</div>
</header>
<!-- TabBar -->
<section class="menu-top">
    <ul class="tabBar" id="tabBar"></ul>
</section>


<section class="menu-left">
    <div id="menuLeft" class="menuList"></div>
</section>

<section class="content">
    <div id="myViewStack" class="viewStack" style="position:relative"/>
</section>