<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body class="newAnimalMediator contentView" style="height: 150px;">
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="nameTxt">Name</label>
        <div class="controls">
            <input type="text" id="nameTxt" placeholder="Name">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="animalTxt">Animal</label>
        <div class="controls">
            <input type="text" id="animalTxt" placeholder="Animal">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="ageTxt">Age</label>
        <div class="controls">
            <input type="number" id="ageTxt" placeholder="0">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="genderDropdown">Gender</label>
        <div class="controls">
            <select id="genderDropdown">
                <option>male</option>
                <option>female</option>
            </select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="aboutTxt">About</label>
        <div class="controls">
            <textarea id="aboutTxt" rows="5" cols="60"></textarea>
        </div>
    </div>
</form>
</body>
</html>