<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body class="newMiscMediator contentView" style="height: 150px;">
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="nameTxt">Name</label>
        <div class="controls">
            <input type="text" id="nameTxt" placeholder="Name">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="animalTxt">Animal</label>
        <div class="controls">
            <input type="text" id="animalTxt" placeholder="Animal">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="quantityTxt">Quantity</label>
        <div class="controls">
            <input type="number" id="quantityTxt" placeholder="1">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="aboutTxt">About</label>
        <div class="controls">
            <textarea id="aboutTxt" rows="5" cols="60"></textarea>
        </div>
    </div>
</form>
</body>
</html>