<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body class="miscDetailView contentView">
    <div>
        <div id="pictureImg" class="inline image"></div>
        <div class="inline" style="margin-left: 530px">
            <div id="nameTxt" data-label="Name" class="textInput" ></div>
            <div id="animalTxt" data-label="Animal" class="textInput" ></div>
            <div id="quantityTxt" data-label="Quantity" class="textInput" ></div>
            <div id="aboutTxt" data-label="About" class="textArea" ></div>
        </div>
    </div>
</body>
</html>